{% extends "base.html" %}

{% block nav_item_about %}
  active
{% endblock %}

{% block content %}
  <br>
  <p>
    Website build with <a href="https://www.djangoproject.com/" target="_blank" rel="noopener noreferrer">Django</a>,
    initial setup from <a href="https://github.com/pydanny/cookiecutter-django" target="_blank" rel="noopener noreferrer">Cookiecutter Django</a>.
  </p>
  <p>
    <a href="https://github.com/Snaptraks/snaptraks.dev" target="_blank" rel="noopener noreferrer">GitHub Repository of the project.</a>
  </p>
{% endblock %}
