{% extends "base.html" %}

{% block nav_item_home %}
  active
{% endblock %}

{% block content %}
  <br>
  <p class="text-center">
    Ph.D Student in Astrophysics
    <br>
    Tech enthusiast
    <br>
    Metalhead
  </p>
  <p class="text-center">
    Socials:
    <br>
    @Snaptraks#2606 on <a href="https://discord.com/" target="_blank" rel="noopener noreferrer">Discord</a>
    <br>
    <a href="https://twitter.com/Snaptraks" class="twitter-follow-button" data-show-count="false">Follow @Snaptraks</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br>
    <a href="https://steamcommunity.com/profiles/76561198044807860/">
      <img src="https://badges.steamprofile.com/profile/default/steam/76561198044807860.png" alt="Steam Profile badge for Snaptraks" title="Steam Profile badge for Snaptraks"/>
    </a>
    <br>
    <div class="text-center">
      <div class="github-card d-flex justify-content-center" data-github="Snaptraks" data-width="400" data-height="" data-theme="default"></div>
      <script src="https://cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    </div>
  </p>

{% endblock content %}
